.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: deepskyblue;
  background-repeat: no-repeat;
  padding: 10%;
  color: white;
  text-align: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  text-align: center;
  font-size: 4rem;
  color: skyblue;
}

.secondaryTitle {
  text-align: center;
  font-size: 3rem;
  color: skyblue;
}
.reasons{
  font-weight:normal;
}

.reason{
  font-weight: bold;
  font-size: 35px;
  color: skyblue;
}


.about{
  font-weight: normal;
  line-height: 2rem;
}

.image{
  border-radius: 100%;

}